.THIS {
    font-family: futura-pt, sans-serif;
}

@font-face {
    font-family: futura-pt, sans-serif;
    src: url(/resource/futurafont/ParaType_-_Futura_PT_Book.ttf);
}

.THIS .contact-info{
    margin-left: 30px;
}

.THIS .ContactHover{
    color: orange;
}

.THIS .panel-info{
    margin-right: 30px;
}

.THIS .revature-btn{
    background-color: #F26925;
    border-color: #F26925;
    
    
}

.THIS .revature-btn2{
    color: #F26925;
    
}