.THIS {
}

.THIS .container{
    display:flex;
    flex-flow:column;
}



.THIS .flexRow{
    display:flex;
    align-items:center;
    
}

.THIS .flex{
    display:flex
}

.THIS .centerTitle{
    background-color:red;
    height:51px;
    display:flex;
    align-items:center;
}

.THIS .centerInput{
    background-color:blue;
    display:flex;
    align-items:top;
}

.THIS .otherCon{
    background-color: yellow;
}