.THIS {
    font-family: futura-pt, sans-serif;
}

@font-face {
    font-family: futura-pt, sans-serif;
    src: url(/resource/futurafont/ParaType_-_Futura_PT_Book.ttf);
}

.THIS .input-2{
    padding: 0px 10px;
}

.THIS .container {
    display:flex;
    flex-flow:column;
}
.THIS .flexRow {
    display:flex;
    align-items:center;
    
}

.THIS .flex{ 
    display:flex
}

.THIS .centerTitle {
  
    height:51px;
    display:flex;
    align-items:center;
}

.THIS .centerInput {
   
    display:flex;
    align-items:top;
}