.THIS {
    font-family: futura-pt, sans-serif;
}

@font-face {
    font-family: futura-pt, sans-serif;
    src: url(/resource/futurafont/ParaType_-_Futura_PT_Book.ttf);
}

.THIS .TitleText{
    text-align: center !important;
    font-weight: bold;
    font-size: 25px;
}
.THIS .buttonColor{
    background-color: #F26925;
    color: #FFFFFF;
}