.THIS .input1{
    width: 195px;
    padding-left: 15px;
    
}

.THIS .topicAddBtn{
    padding-top: 22px;
    padding-left: 15px;
}

.THIS .pageBtn{
    padding-top: 15px;
    
}

.THIS .side-card{
}

.THIS .recordperpage{
    padding-bottom: 15px;
}


.THIS .containerLeft{
    display:flex;
    flex-flow:column;
}

.THIS .comCon{
    text-align:center;
}


.THIS .resizeButton{
    padding-top:5px;
    padding-left:20px;
}

.THIS .button{
    text-align:right;
}


.THIS .changeMe10 {
    
}

.THIS .changeMe15 {
    
}

.THIS .changeMe20 {
    
}

.THIS .filterContainer{
	display:flex;
    width:375px;
    flex-wrap:wrap;
 
}