
.THIS .input1{
    width: 195px;
    padding-left: 15px;
    
}

.THIS .topicAddBtn{
    padding-top: 22px;
    padding-left: 15px;
}

.THIS .pageBtn{
    padding-top: 15px;
    
}

.THIS .side-card{
}

.THIS .recordperpage{
    padding-bottom: 15px;
}


.THIS .containerLeft{
    display:flex;
    flex-flow:column;
    margin-right:150px;
    background-color: aqua;
}

.THIS .comCon{
    text-align:center;
}

.THIS .flexRow{
    display:flex;
    align-items:center;
  
}

.THIS .resizeButton{
    padding-top:5px;
    padding-left:20px;
}

.THIS .button{
    text-align:right;  
    
}

.THIS .flex{
    display:flex
}

.THIS .input{
    display: flex;
    flex-direction: row;
    padding: 5px;

}

.THIS .listContainer{
    display: flex;
    flex-direction: row;
}
.THIS .centerTitle{
    /*background-color:red;*/
    height:51px;
    width:75px;
    display:flex;
    align-items:center;
}

.THIS .centerOtherTitle{
    /*background-color:red;*/
    height:51px;
    width:100px;
    display:flex;
    align-items:center;
}

.THIS .centerInput{
    
    padding-bottom:11px;
    padding-left:250px;
    width:315px;
    
}

.THIS .centerTechInput{
    /*background-color:blue;*/
    padding-bottom:11px;
    padding-left:20px;
    width:340px;
}

.THIS .otherCon{
    /*background-color: yellow;*/
}

.THIS .secondSec{
    width:88%;
}

.THIS .comSec textarea{
    height:150px;
}

.THIS .centerTechInput input{
    text-align:right;
}

.THIS .mainContainer{
   background-color:blue;
   width:100%;
}

.THIS .input{
    display: flex;
    flex-direction: row;
    padding: 5px;

}
.THIS .filterContainer{
	display:flex;
    width:375px;
    flex-wrap:wrap;
 
}
.THIS .listContainer{
    display: flex;
    flex-direction: row;
}