.THIS {
}
.THIS .Score {
    text-align: center !important;
    margin-right:3%;
    font-weight: bold;
}
.THIS .slds-th__action { 
    justify-content: center !important; 
}
.THIS .TScore {
    text-align: center !important;
    margin-right:3%;
    font-weight: bold;
}
.THIS .TopicR {
    text-align: center !important;
    margin-right:3%;
    font-weight: bold;
}
.THIS .total {
    text-align: center !important;
    margin-right:3%;
    font-weight: bold;
}
.THIS .TitleText{
    text-align: center !important;
    font-weight: bold;
    font-size: 25px;
}
.THIS .headers{
    margin-left:25px;
}
.THIS .buttonClass{
   margin-right:25px;
    
}
.THIS .dataTable{
   margin-right:25px;
    
}
.THIS .interviewDetail{
   margin-left:5px;
    
}
.THIS .overAll{
   margin-left:25px;
    
}
.THIS .buttonColor{
    background-color: #F26925;
    color: #FFFFFF;
}
.THIS .buttonColor2{
    background-color:#FFFFFF;
    color: #F26925;
}